#!/bin/bash
#SBATCH --job-name=__Test__
#SBATCH --output=job.out
#SBATCH --error=job.err
#SBATCH --ntasks=__NB_TASKS__
#SBATCH --time=__ELLAPSED_TIME__
#SBATCH --partition=__PARTITION__
#SBATCH -A __SLURM_ACCOUNT__

cd __STARTING_DIR__ 
echo ======== start ==============
date
echo ======== start ==============
echo SLURMJOB_ID=$SLURM_JOB_ID
echo SLURM_JOB_NAME=$SLURM_JOB_NAME
echo SLURM_JOB_NODELIST=$SLURM_JOB_NODELIST
env > env.out
echo ======== go!!! ==============
srun -o 0 --ntasks=__NB_TASKS__ --ntasks=__NB_TASKS --cpus-per-task=1 --hint=nomultithread --ntasks-per-node=32 --ntasks-per-socket=16 --ntasks-per-core=1 --cpu_bind=cores __EXECUTABLE__
echo ======== end ==============
date
echo ======== end ==============
