#!/bin/bash
#SBATCH --job-name=__Case__
#SBATCH --output=job.out
#SBATCH --error=job.err
#SBATCH --ntasks=__NB_CORES__
#SBATCH --time=__ELLAPSED_TIME__

cd __STARTING_DIR__ 
echo ======== start ==============
date
echo ======== start ==============
srun -o 0 --ntasks=__NB_CORES__  --cpus-per-task=1 --hint=nomultithread --ntasks-per-node=32 --ntasks-per-socket=16 --ntasks-per-core=1 --cpu_bind=cores  zephyr input
echo ======== end ==============
date
echo ======== end ==============
  
