#!/bin/bash
#SBATCH --job-name=__Test__
#SBATCH --output=job.out
#SBATCH --error=job.err
#SBATCH --nodes=__NB_NODES__
#SBATCH --time=__ELLAPSED_TIME__
#SBATCH --partition=__PARTITION__
#SBATCH -A __SLURM_ACCOUNT__

cd __STARTING_DIR__ 
echo ======== start ==============
date
echo ======== start ==============
echo SLURMJOB_ID=$SLURM_JOB_ID
echo SLURM_JOB_NAME=$SLURM_JOB_NAME
echo SLURM_JOB_NODELIST=$SLURM_JOB_NODELIST
env > env.out
echo ======== go!!! ==============
export OMP_NUM_THREADS=__THREADS__

# to reduce resource consumption of idle threads.
export OMP_WAIT_POLICY=PASSIVE

#to print detailed thread-affinity messages.
export CRAY_OMP_CHECK_AFFINITY=TRUE 

echo __COMPILER__ __OPTIONS__ -o __EXECUTABLE__ ../../tests/src/__SOURCE__
__COMPILER__  __OPTIONS__ -o __EXECUTABLE__ ../../tests/src/__SOURCE__


echo running ___NB_TASKS__ processes each of them having __THREADS__ threads...
echo srun --ntasks=__NB_TASKS__ --cpus-per-task=__THREADS__ --hint=nomultithread --ntasks-per-node=__TASKS_PER_NODE__ --ntasks-per-socket=__TASKS_PER_SOCKET__ --ntasks-per-core=1 --cpu_bind=cores __EXECUTABLE__
srun --ntasks=__NB_TASKS__ --cpus-per-task=__THREADS__ --hint=nomultithread --ntasks-per-node=__TASKS_PER_NODE__ --ntasks-per-socket=__TASKS_PER_SOCKET__ --ntasks-per-core=1 --cpu_bind=cores __EXECUTABLE__
echo ======== end ==============
date
echo ======== end ==============
  
